.bg {
  background: url('../img/sf1.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.jumbotron {
  margin-bottom: 0px;
  height: 400px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}
li {
  display: inline;
}
.navbar-default {
  background-color: #375faa;
  border-color: #cf9221;
}
.navbar-default .navbar-brand {
  color: #fefefe;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #110f14;
}
.navbar-default .navbar-text {
  color: #fefefe;
}
.navbar-default .navbar-nav > li > a {
  color: #fefefe;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #110f14;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #110f14;
  background-color: #cf9221;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #110f14;
  background-color: #cf9221;
}
.navbar-default .navbar-toggle {
  border-color: #cf9221;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #cf9221;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fefefe;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fefefe;
}
.navbar-default .navbar-link {
  color: #fefefe;
}
.navbar-default .navbar-link:hover {
  color: #110f14;
}
#Ukraine{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#twitter{
  width: 300px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fefefe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #110f14;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #110f14;
    background-color: #cf9221;
  }
}
